* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  /* background-image: url('./assets/cold-bg.jpg'); */
  background-image: url('./assets/warm-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main {
  min-height: 100vh;
  width: 410px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  padding: 25px;
}

.search-box .search-bar {
  display: inline-block;
  width: 77%;
  padding: 14px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: #f4f4f4c0;
  border-radius: 10px;

  box-shadow: 3px 5px rgba(0, 0, 0, 0.3);

  color: #313131;
  font-size: 14px;

  transition: 0.3s ease-in-out;
}

.search-box .search-bar:focus {
  background-color: #f4f4f4ef;
}

.btn {
  outline: none;
  margin-left: 0.6rem;
  font-size: 14px;
  padding: 0.9rem 0.8rem;
  color: #f4f4f4;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid rgba(146, 148, 248, 0.4);
  position: relative;
  overflow: hidden;
  transition: all ease 0.1s;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.671),
    transparent
  );
  transition: all 500ms ease;
}

.btn:hover:before {
  left: 100%;
}

.btn:hover {
  cursor: pointer;
  background: rgba(146, 148, 248, 0.4);
  transform: scale(1.1, 1.1);
}

.btn:active {
  transform: scale(1, 1);
}
